/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff0066;
}

span.love {
    color: #ff0066;
    font-size: 1.2em;
}
